<main>
    <div class="banner">
        <img src="img/banner-prog.png" width="100%">
    </div>

    <section class="alojamientos">
        <div class="title">Alojamientos</div>
        <p>
            ¡Vértice Patagonia te da la bienvenida a tu próxima aventura de trekking! Debes estar preparado para duras condiciones climáticas, dejar la comodidad de la vida cotidiana, ponerte a prueba y lo más importante, ¡sentir y vivir la majestuosidad de la naturaleza!.
        </p>
        <p>
            Vértice Patagonia cuenta con 3 refugios y 4 campings ubicados en estratégicos puntos dentro del Parque Nacional Torres del Paine. Los refugios cuentan con habitaciones compartidas mixtas con literas, baños compartidos con ducha y agua caliente, restaurant tipo casino, bar, y sala de estar con calefacción a leña (de uso exclusivo para los huéspedes del refugio) y custodia.
        </p>
        <p>
            Los campings cuentan con baños compartidos, área autorizara para cocinar (debes llevar tus propios implementos para cocina, por ejemplo cocinilla) y almacén para comprar provisiones en general. Como servicio adicional, se ofrece carpa instalada, colchoneta y saco de dormir para quienes quieran evitar llevar mayor peso. Los campistas también pueden acceder a los servicios de los refugios de bar y restaurant.
        </p>
        <p>
            Los invitamos a recorrer los senderos de montaña y dejarse cautivar por los Cuernos del Paine y su formación rocosa tan característica, las turquesas aguas del Lago Pehoé, el imponente Glaciar Grey, las sobrecogedoras vistas en Dickson, el bosque de ensueño en Valle Los Perros y el mítico Paso John Garner, reservado para los más preparados.
        </p>

        <div class="nav" id="nav">
            <ul>
                <li class="active">
                    <a class="name" href="alojamiento/1/paine-grande#nav">PAINE GRANDE</a><br />
                    <a href="alojamiento/1/1/paine-grande#nav" class="active">Refugio</a>
                    <a href="alojamiento/1/2/paine-grande#nav">Camping</a>
                </li>
                <li>
                    <a class="name" href="alojamiento/2/vertice-grey#nav">VERTICE GREY</a><br />
                    <a href="alojamiento/2/1/vertice-grey#nav" class="active">Refugio</a>
                    <a href="alojamiento/2/2/vertice-grey#nav">Camping</a>
                </li>
                <li>
                    <a class="name" href="alojamiento/3/vertice-dickson-los-perros#nav">VERTICE DICKSON / LOS PERROS</a><br />
                    <a href="alojamiento/3/1/vertice-dickson-los-perros#nav" class="active">Refugio</a>
                    <a href="alojamiento/3/2/vertice-dickson-los-perros#nav">Camping</a>
                </li>
                <li>
                    <a class="name" href="alojamiento/4/factoria-patagonia#nav">FACTORIA PATAGONIA</a><br />
                    <a href="alojamiento/4/1/factoria-patagonia#nav" class="active">Refugio</a>
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="img">
                <img src="imagenes/refugios/1209112410_refugio.jpg">
            </div>
            <div class="desc">
                <div class="uptitle">Alojamiento</div>
                <div class="title">REFUGIO PAINE GRANDE</div>
                <p>Refugio Paine Grande se encuentra a orillas del lago Peho&eacute;, con hermosas vistas a los Cuernos del Paine y el Cerro Paine Grande. <br /><br />Es el punto de partida de la ruta hacia el Valle del Franc&eacute;s y del sendero hacia el Glaciar Grey.<br /><br /><strong>Refugio Paine Grande est&aacute; abierto todo el a&ntilde;o!</strong></p>
            </div>
        </div>
        <div class="descripcion">
            <div class="subtitle">
                <div class="icon"><i class="material-icons">place</i></div>
                ACCESOS
            </div>
            <ul>
                <li>Catamar&aacute;n Pudeto-Peho&eacute; (30 min de navegaci&oacute;n aprox.)</li>
                <li>Sendero Italiano-Paine Grande (7,6 km &ndash; Dificultad: Baja)</li>
                <li>Sendero Grey-Paine Grande (11 km &ndash; Dificultad: Media)</li>
                <li>Sendero Las Carretas (Administraci&oacute;n-Paine Grande, 17 km &ndash; Dificultad: Media - IMPORTANTE: este sendero es solo de salida durante temporada alta, consultar en CONAF por habilitaci&oacute;n del sendero)</li>
            </ul>

            <div class="subtitle">
                <div class="icon"><i class="material-icons">local_hotel</i></div>
                HABITACIONES
            </div>
            <p>Refugio Paine Grande puede albergar a 100 hu&eacute;spedes en literas en habitaciones compartidas mixtas, con cama simple (para uso de saco de dormir propio) o cama armada (s&aacute;bana y cobertor). Las habitaciones no cuentan con calefacci&oacute;n, tampoco cuentan con enchufes. Servicio de toallas disponible en forma adicional.<br /><br /></p>
            <p><strong>Tarifas Temporada 2018-2019 (1 de Septiembre al 30 de Abril)</strong></p>
            <ul>
                <li style="padding-left: 30px;"><strong>Cama Simple </strong>(por persona, por noche): $33.000 / USD 55.-</li>
                <li style="padding-left: 30px;"><strong>Cama Armada </strong>(por persona, por noche): $55.000 / USD 85.-</li>
                <li style="padding-left: 30px;">
                    <strong>Servicios adicionales:</strong>
                    <ul>
                        <li style="padding-left: 30px;"><strong>Toalla&nbsp;</strong>(por persona, por noche): $5.000 / USD 8.-</li>
                        <li style="padding-left: 30px;"><strong>Kit Cama (adicional a la Cama Simple</strong>, por persona, por noche): $22.000 / USD 30.-</li>
                    </ul>
                </li>
            </ul>
            <p>(Tarifa d&oacute;lar v&aacute;lida solo para extranjeros no residentes en Chile, presentando pasaporte y tarjeta de ingreso. Revisar condiciones al momento de reservar y pagar).<br /><br /></p>
            <div class="subtitle">
                <div class="icon"><i class="material-icons">wc</i></div>
                BAÑOS
            </div>
            <p>Los ba&ntilde;os son compartidos (separados hombre/mujer), cuentan con lavamanos (solo agua fr&iacute;a), inodoros y duchas de agua caliente con pulsadores que permiten ahorrar agua. Consulta en recepci&oacute;n por los horarios de funcionamiento de las duchas.</p>

            <div class="subtitle">
                <div class="icon"><i class="material-icons">restaurant</i></div>
                RESTAURANTE
            </div>
            <p>El refugio cuenta con restaurante tipo casino, con 1 men&uacute; diario y 1 alternativa vegetariana. Cena, desayuno y almuerzo disponibles, as&iacute; como box lunch o almuerzo tipo picnic (encarg&aacute;ndolo con anticipaci&oacute;n). Bebidas, cervezas y vino a la venta. Tambi&eacute;n se ofrece servicio de cafeter&iacute;a, con caf&eacute; y t&eacute; y pasteler&iacute;a. La cena debe ser reservada antes de las 17:00 hrs.<br /><br /></p>
            <p><strong>Tarifas Temporada 2018-2019 (1 de Septiembre al 30 de Abril).&nbsp;</strong></p>
            <ul>
                <li style="padding-left: 30px;"><strong>Pensi&oacute;n Completa</strong>&nbsp;(Cena, desayuno y almuerzo/box lunch d&iacute;a de salida): $35.000 / USD 55.-</li>
                <li style="padding-left: 30px;"><strong>Desayuno</strong>: $11.000 / USD 17.-</li>
                <li style="padding-left: 30px;"><strong>Almuerzo/Box Lunch</strong>: $12.000 / USD 19.-</li>
                <li style="padding-left: 30px;"><strong>Cena</strong>: $16.000 / USD 25.-</li>
                <li style="padding-left: 30px;">
                    <strong>Fechas Especiales</strong>:
                    <ul>
                        <li style="padding-left: 30px;">Pensi&oacute;n Completa Navidad/A&ntilde;o Nuevo: $60.000 / USD 90.-</li>
                        <li style="padding-left: 30px;">Cena Navidad/A&ntilde;o Nuevo: $42.000 / USD 65.-<br /><br /></li>
                    </ul>
                </li>
            </ul>
            <p style="padding-left: 30px;">(Tarifa d&oacute;lar v&aacute;lida solo para extranjeros no residentes en Chile, presentando pasaporte y tarjeta de ingreso. Revisar condiciones al momento de reservar y pagar).<br /><br /></p>
            <p>
                <small>Notas:</small>
                <ul>
                    <li><small>No existen alternativas de alimentación especial como por ejemplo veganos, celíacos, intolerantes a lactosa u otras alergias o restricciones.</small></li>
                    <li><small>Favor verificar horarios de funcionamiento del restaurant en recepción. No se sirven comidas fuera del horario de funcionamiento.</small></li>
                </ul>
            </p>

            <div class="subtitle">
                <div class="icon"><i class="material-icons">local_bar</i></div>
                BAR
            </div>
            <p>Ubicado en el segundo piso, el bar Paine Grande ofrece una hermosa vista lago Peho&eacute; y los Cuernos del Paine para disfrutar de un trago, una cerveza o copa de vino.&nbsp;</p>
            <div class="subtitle">
                <div class="icon"><i class="material-icons">weekend</i></div>
                SALAS DE ESTAR
            </div>
            <p>De uso exclusivo para los hu&eacute;spedes del refugio, cuentan con calefacci&oacute;n de combusti&oacute;n lenta y sillones.&nbsp;</p>

            <div class="subtitle">
                <div class="icon"><i class="material-icons">store_mall_directory</i></div>
                ALMACÉN
            </div>
            <p>Encontrar&aacute;s todo lo necesario para cocinar en caso que desees preparar tu propia comida, incluyendo provisiones en general, bebestibles, adem&aacute;s de chocolates, barras energ&eacute;ticas, galletas, etc&hellip; Adem&aacute;s, est&aacute; a la venta souvernirs, artesan&iacute;as y accesorios como capas de agua, mapas, linternas frontales y mucho m&aacute;s.</p>
            <p>
                <small>
                    Nota: <br />
                    No está permitido cocinar al interior de los Refugios, para preparar y cocinar su propia comida se debe utilizar el área de cocina autorizada en camping.
                </small>
            </p>

            <div class="subtitle">
                <div class="icon"><i class="material-icons">power</i></div>
                ELECTRICIDAD
            </div>
            <p>Encontrar&aacute;s enchufes disponibles (Voltaje 220 CV) en la sala de estar (solo para hu&eacute;spedes). En la noche no hay electricidad para ahorrar energ&iacute;a. Confirma en recepci&oacute;n los horarios de funcionamiento.</p>
            <div class="subtitle">
                <div class="icon"><i class="material-icons">lock</i></div>
                CUSTODIA DE EQUIPAJE
            </div>
            <p>Servicio de custodia disponible para hu&eacute;spedes. Consultar tarifa en recepci&oacute;n.</p>
            <div class="subtitle">
                <div class="icon"><i class="material-icons">wifi</i></div>
                INTERNET
            </div>
            <p>No hay se&ntilde;al de celular en todo el parque. En Refugio Paine Grande puedes contratar WiFi de Pago, debes tener habilitada cuenta PayPal. Consulta en recepci&oacute;n la tarifa.</p>
        </div>
        <div class="btns">
            <a href="pdf-alojamiento/1/1/refugio" target="_blank" class="btn btn-l">Descargar recomendaciones</a>
            <a href="https://reservas.verticepatagonia.cl/" class="btn">Reservar</a>
        </div>
    </section>
    <section class="otros-programas">
        <div class="title">
            <strong>EXCURSIONES</strong> QUE PUEDES <br />
            TOMAR EN ESTE ALOJAMIENTO
        </div>


        <div class="programas contenedor">
            <div class="prog">
                <div class="img">
                    <img src="imagenes/programas/1011113855_Vertice_Dickson_3.jpg" width="100%">
                </div>
                <div class="nombre">
                    CIRCUITO MACIZO PAINE
                </div>
                <div class="days">8 días | 7 noches</div>
                <div class="precio">$990.000 CLP | $ USD</div>
                <p style="text-align: center;">El Circuito Macizo Paine (la "O"), desaf&iacute;a a los excursionistas y te lleva a los rincones m&aacute;s desconocidos de Torres del Paine.</p>				<a class="btn" href="programa/1/circuito-macizo-paine">Leer más</a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="imagenes/programas/1411050416_W_Torres_del_Paine_Vertice_Patagonia.png" width="100%">
                </div>
                <div class="nombre">
                    W CLÁSICA
                </div>
                <div class="days">5 días | 4 noches</div>
                <div class="precio">$655.000 CLP | $ USD</div>
                <p style="text-align: center;">Con el circuito W conocer&aacute;s las principales bellezas de Torres del Paine, &iexcl;un imperdible para todo amante de las monta&ntilde;as!</p>				<a class="btn" href="programa/4/w-clasica">Leer más</a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="imagenes/programas/1411061558_Valle_Frances_y_Grey.png" width="100%">
                </div>
                <div class="nombre">
                    VALLE FRANCES Y GREY
                </div>
                <div class="days">4 días | 3 noches</div>
                <div class="precio">$499.000 CLP | $ USD</div>
                <p style="text-align: center;">Recorre el maravilloso Valle Franc&eacute;s y d&eacute;jate cautivar por las impresionistas vistas hacia el Glaciar Grey.</p>				<a class="btn" href="programa/5/valle-frances-y-grey">Leer más</a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="imagenes/programas/1101060921_PatagonianFjords_Thumb.jpg" width="100%">
                </div>
                <div class="nombre">
                    FIORDOS, MONTAÑAS Y GLACIARES
                </div>
                <div class="days">4 días | 3 noches</div>
                <div class="precio">$1.110.000 CLP | $ USD</div>
                <p style="text-align: center;">Descubre rincones desconocidos de la Patagonia, entre fiordos y monta&ntilde;as, donde solo unos pocos han ido!</p>				<a class="btn" href="programa/11/fiordos-montanas-y-glaciares">Leer más</a>
            </div>
        </div>
    </section>
</main>