<main>

    <section class="slide-home">
        <div class="btn-idioma">
            <div class="opc selected" rel="esp">ESP</div>
            <div class="opc " rel="eng">ENG</div>
        </div>
        <div class="slide cycle-slideshow" data-cycle-fx=fade data-cycle-timeout=3500 data-cycle-slides="> div">
            <div class="img" style="background: url(/imagenes/slide_principal/2411015354_Alert.jpg) center center; background-size: cover;">
                <div class="titulo">CAMPING PAINE GRANDE</div>
                <div class="subtitulo">DICIEMBRE A ABRIL - $6.000 / USD 10 POR PERSONA</div>
            </div>
            <div class="img" style="background: url(/imagenes/slide_principal/0911124720_0211055025_Grey_-_Navegacion_Glaciar_-_Web.jpg) center center; background-size: cover;">
                <div class="titulo">¡Desafía tus límites</div>
                <div class="subtitulo">en Torres del Paine!</div>
            </div>
            <div class="img" style="background: url(/imagenes/slide_principal/1611114331_Vista_desde_Dickson_Torres_del_Paine.jpg) center center; background-size: cover;">
                <div class="titulo">Conéctate con la Naturaleza</div>
                <div class="subtitulo">¡Vive la Montaña!</div>
            </div>
            <div class="img" style="background: url(/imagenes/slide_principal/0609101535_slide.png) center center; background-size: cover;">
                <div class="titulo">¡Vive tu próxima Aventura</div>
                <div class="subtitulo">de Trekking!</div>
            </div>
        </div>
    </section>
    <section class="slide-home slide-movil">
        <div class="btn-idioma">
            <div class="opc selected" rel="esp">ESP</div>
            <div class="opc " rel="eng">ENG</div>
        </div>
        <div class="slide cycle-slideshow" data-cycle-fx=fade data-cycle-timeout=3500 data-cycle-slides="> div">
            <div class="img" style="background: url(/imagenes/slide_principal/2411020135_Alert_-_mobiles.jpg) center center; background-size: cover;">
                <div class="titulo">CAMPING PAINE GRANDE</div>
                <div class="subtitulo">DICIEMBRE A ABRIL - $6.000 / USD 10 POR PERSONA</div>
            </div>
            <div class="img" style="background: url(/imagenes/slide_principal/0911124840_phone2.jpg) center center; background-size: cover;">
                <div class="titulo">¡Desafía tus límites</div>
                <div class="subtitulo">en Torres del Paine!</div>
            </div>
            <div class="img" style="background: url(/imagenes/slide_principal/1611114959_Movil_-_Vista_Dickson_Torres_del_Paine.jpg) center center; background-size: cover;">
                <div class="titulo">Conéctate con la Naturaleza</div>
                <div class="subtitulo">¡Vive la Montaña!</div>
            </div>
            <div class="img" style="background: url(/imagenes/slide_principal/0811015154_movil.jpg) center center; background-size: cover;">
                <div class="titulo">¡Vive tu próxima Aventura</div>
                <div class="subtitulo">de Trekking!</div>
            </div>
        </div>
    </section>
    <section class="bienvenida">
        <div class="mid">
            <div class="title">
                ¡Bienvenidos a <br /> Torres del Paine!
            </div>
            <p>
                Vértice Patagonia es concesionario de refugios y campings dentro del parque nacional Torres del Paine. Déjate cautivar por Glaciar Grey, Cuernos del Paine, Valle del Francés, Valle de Los Perros y mucho más en tu próxima aventura de trekking por los circuitos de montaña.
            </p>
        </div>
        <div class="mid">
            <div class="slider-bienvenida cycle-slideshow" data-cycle-fx=fade data-cycle-timeout=0 data-cycle-slides="> div" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-pager="#custom-pager" data-cycle-pager-template="<a href=#> {{slideNum}} </a>">
                <div class="img">
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/iyVMR35gT3s" frameborder="0" allowfullscreen></iframe>
                    <div class="nombre">Vive la Aventura de Torres del Paine</div>
                </div>
                <div class="img" style="background: url(/imagenes/galeria_home/0712041236_Home_Cuernos_del_Paine.jpg) center center; background-size: cover;">
                    <div class="nombre">Cuernos del Paine y Lago Pehoé</div>
                </div>
                <div class="img" style="background: url(/imagenes/galeria_home/0712040820_GlaciarGrey.jpg) center center; background-size: cover;">
                    <div class="nombre">Glaciar Grey</div>
                </div>
                <div class="img" style="background: url(/imagenes/galeria_home/0712041703_Torres_del_Paine.jpg) center center; background-size: cover;">
                    <div class="nombre">Torres del Paine</div>
                </div>
                <div class="img" style="background: url(/imagenes/galeria_home/0712044334_Vertice_Grey_-_2.jpg) center center; background-size: cover;">
                    <div class="nombre">Refugio Grey - Invierno</div>
                </div>
                <div class="img">
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/v1blWPTd9yU" frameborder="0" allowfullscreen></iframe>
                    <div class="nombre">Siente la Naturaleza</div>
                </div>
                <div class="img" style="background: url(/imagenes/galeria_home/0712043642_IMG_5373.jpg) center center; background-size: cover;">
                    <div class="nombre">Fauna - Zorro</div>
                </div>
                <div class="img" style="background: url(/imagenes/galeria_home/0712050942_Los_Perros_-_Glaciar.jpg) center center; background-size: cover;">
                    <div class="nombre">Glaciar Los Perros</div>
                </div>
            </div>
            <div class="controls">
                <div id="next"></div>
                <div class="total-pager"> / 8</div>
                <div id="custom-pager"></div>
                <div id="prev"></div>
            </div>
        </div>
    </section>
    <section class="iconos">
        <div class="icon">
            <i class="material-icons">local_hotel</i>
            Habitaciones <br />compartidas
        </div>
        <div class="icon">
            <i class="material-icons">wc</i>
            Baños con <br />ducha
        </div>
        <div class="icon">
            <i class="material-icons">style</i>
            Sitios de camping <br />y equipamiento
        </div>
        <div class="icon">
            <i class="material-icons">restaurant</i>
            Restaurant <br />y bar
        </div>
        <div class="icon">
            <i class="material-icons">store_mall_directory</i>
            Almacén
        </div>
    </section>
    <section class="senderos">
        <div class="title">
            <i class="material-icons">map</i>
            <strong>Senderos</strong> <br /> de Montaña
        </div>
        <p>
            Las 2 principales rutas de trekking a realizar en el parque son la W y el Circuito Grande (la O). Para poder realizarlas se debe alojar en los establecimientos concesionado a Vértice, además de Fantástico Sur (sector privado del parque) y/o CONAF (campamentos gratuitos).
        </p>
    </section>
    <section class="maps">
        <div class="map">
            <div class="nombre">
                Circuito W |
                <a href="destino/1/mapa#nav"> ver más</a>
            </div>
            <img src="/imagenes/rutas/0709120848_sendero1.png" width="100%">
        </div>
        <div class="map">
            <div class="nombre">
                Circuito Macizo Paine |
                <a href="destino/1/mapa#nav"> ver más</a>
            </div>
            <img src="/imagenes/rutas/0709120913_sendero2.png" width="100%">
        </div>
        <p>
            (*) La circuito Macizo Paine solo se puede realizar en el sentido que indican las flechas blancas, el circuito w se puede realizar en cualquier sentido
        </p>
    </section>
    <section class="programas-dest">
        <div class="title">
            <i class="material-icons">assignment</i> PROGRAMAS
        </div>
        <div class="slide-prog">
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/1011113855_Vertice_Dickson_3.jpg" width="100%">
                </div>
                <div class="nombre">
                    CIRCUITO MACIZO PAINE
                </div>
                <div class="days">8 días | 7 noches</div>

                <div class="precio">$990.000 CLP | $ USD</div>
                <p style="text-align: center;">El Circuito Macizo Paine (la "O"), desaf&iacute;a a los excursionistas y te lleva a los rincones m&aacute;s desconocidos de Torres del Paine.</p>				<a class="btn" href="programa/1/circuito-macizo-paine">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/1411050416_W_Torres_del_Paine_Vertice_Patagonia.png" width="100%">
                </div>
                <div class="nombre">
                    W CLÁSICA
                </div>
                <div class="days">5 días | 4 noches</div>

                <div class="precio">$655.000 CLP | $ USD</div>
                <p style="text-align: center;">Con el circuito W conocer&aacute;s las principales bellezas de Torres del Paine, &iexcl;un imperdible para todo amante de las monta&ntilde;as!</p>				<a class="btn" href="programa/4/w-clasica">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/1411061558_Valle_Frances_y_Grey.png" width="100%">
                </div>
                <div class="nombre">
                    VALLE FRANCES Y GREY
                </div>
                <div class="days">4 días | 3 noches</div>

                <div class="precio">$499.000 CLP | $ USD</div>
                <p style="text-align: center;">Recorre el maravilloso Valle Franc&eacute;s y d&eacute;jate cautivar por las impresionistas vistas hacia el Glaciar Grey.</p>				<a class="btn" href="programa/5/valle-frances-y-grey">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/1101060921_PatagonianFjords_Thumb.jpg" width="100%">
                </div>
                <div class="nombre">
                    FIORDOS, MONTAÑAS Y GLACIARES
                </div>
                <div class="days">4 días | 3 noches</div>

                <div class="precio">$1.110.000 CLP | $ USD</div>
                <p style="text-align: center;">Descubre rincones desconocidos de la Patagonia, entre fiordos y monta&ntilde;as, donde solo unos pocos han ido!</p>				<a class="btn" href="programa/11/fiordos-montanas-y-glaciares">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/1201025754_Fiordo_de_las_montañas_2_Thumb.jpg" width="100%">
                </div>
                <div class="nombre">
                    EXPEDICION FIORDOS Y GLACIARES
                </div>
                <div class="days">5 días | 4 noches</div>

                <div class="precio">$1.380.000 CLP | $ USD</div>
                <p style="text-align: center;">Si amas las aventuras, descubrir lo desconocido y estar inmerso en la naturaleza virgen, este programa es para t&iacute;!</p>				<a class="btn" href="programa/12/expedicion-fiordos-y-glaciares">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/1201033234_Fiordo_de_las_montañas_thumb.jpg" width="100%">
                </div>
                <div class="nombre">
                    FIORDOS Y GLACIARES EXPRESS
                </div>
                <div class="days">2 días | 1 noches</div>

                <div class="precio">$594.000 CLP | $ USD</div>
                <p style="text-align: center;">Descubre y disfruta las bellezas del fiordo de las Monta&ntilde;as, la cordillera Sarmiento y sus glaciares colgantes colgantes!</p>				<a class="btn" href="programa/13/fiordos-y-glaciares-express">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/2201053625_W_Express.jpg" width="100%">
                </div>
                <div class="nombre">
                    W Express
                </div>
                <div class="days">4 días | 3 noches</div>

                <div class="precio">$532.000 CLP | $ USD</div>
                <p style="text-align: center;">Conoce las principales bellezas de Torres del Paine, con este programa en versi&oacute;n corta.</p>				<a class="btn" href="programa/14/w-express">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/0108090437_Foto_Natales.jpg" width="100%">
                </div>
                <div class="nombre">
                    NATALES DE AVENTURAS
                </div>
                <div class="days">4 días | 3 noches</div>

                <div class="precio">$1.040.000 CLP | $ USD</div>
                <p style="text-align: center;">Color, aventura&nbsp;y la mejor experiencia&nbsp;en la Patagonia. Disfruta de la belleza y de las bondades de Puerto Natales y aloja en Hostal Factor&iacute;a Patagonia, nuestro nuevo hostal boutique.</p>				<a class="btn" href="programa/17/natales-de-aventuras">
                    Leer más
                </a>
            </div>
            <div class="prog">
                <div class="img">
                    <img src="/imagenes/programas/0308025416_Pesca_Serrano.jpg" width="100%">
                </div>
                <div class="nombre">
                    PESCA CON MOSCA EN EL PAINE
                </div>
                <div class="days">3 días | 2 noches</div>

                <div class="precio">$790.000 CLP | $ USD</div>
                <p style="text-align: center;">Si eres&nbsp;amante de la pesca con mosca, este programa es para ti. Una mezcla perfecta entre paisaje, aventura y relajo.</p>				<a class="btn" href="programa/19/pesca-con-mosca-en-el-paine">
                    Leer más
                </a>
            </div>

        </div>
    </section>
</main>